.container {
  display: flex;
  /* border: 1px solid black; */
  background-color: white;
  flex: 0.6;
  padding-block: 40px;
  /* margin-top: 40px; */
  width: 100%;
}
.container__img {
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup_button {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.signup_button > button {
  background-color: #febd69;
  padding-inline: 15px;
  padding-block: 3px;
  border: 0.3px solid #d49038;
  cursor: pointer;
  border-radius: 3px;
}
