.product {
  min-height: 420px;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: white;
  z-index: 2;
  box-shadow: -4px 7px 34px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -4px 7px 34px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -4px 7px 34px 0px rgba(0, 0, 0, 0.31);
}
.product__image > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 290px;

  /* margin: auto; */
}
.rating {
  pointer-events: none;
}
.add_to_btn {
  margin-bottom: 10px;
  background-color: #febd69;
  padding-inline: 15px;
  padding-block: 3px;
  border: 0.3px solid #d49038;
  cursor: pointer;
  border-radius: 3px;
}
